<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;1,400&display=swap"
      rel="stylesheet" />
    <title><!-- env:APP_NAME --></title>
    <%= require('utils/analytics/head.html') %>
    <!-- env:conf -->
  </head>
  <body>
    <div id="root"></div>
    <%= require('utils/analytics/body.html') %>
  </body>
</html>
